<div>
  <h3>
    <%= Frog.human_attribute_name(:name) %>
    <%= @frog.name %>
  </h3>

  <p>
    <%= Frog.human_attribute_name(:scientific_name) %> 
    <%= @frog.scientific_name %>
  </p>

  <p> 
    <%= Frog.human_attribute_name(:age) %>
    <%= @frog.age %> <%= t('common.years_old', s: @frog.age > 1 ? 's' : '') %>
  </p>

  <p>
    <%= @frog.above_or_average_age %>
  </p>

  <p>
    <%= Frog.human_attribute_name(:description) %>
    <%= @frog.description %>
  </p>

  <p>
    <%= Frog.human_attribute_name(:on_sale) %>
    <%= @frog.on_sale? ? 'Yes' : 'No' %>
  </p>
</div>

<div>
  <%= link_to "Edit frog", "#{frog_path(@frog)}/edit" %>
  <%= button_to "Delete frog", frog_path(@frog), method: :delete %>
</div>
